SELECT COUNT(*) AS group_a_count FROM trade_history WHERE position_status = 'CLOSED' AND mode = 'PAPER' AND (realized_pnl_usdc IS NULL OR realized_pnl_usdc = 0) AND entry_filled_shares IS NOT NULL AND entry_filled_shares > 0; SELECT COUNT(*) AS group_b_count FROM trade_history WHERE position_status = 'CLOSED' AND mode = 'PAPER' AND (realized_pnl_usdc IS NULL OR realized_pnl_usdc = 0) AND (entry_filled_shares IS NULL OR entry_filled_shares = 0);
