SELECT id, asset, executed_price, close_price, entry_filled_shares, remaining_shares, entry_cost_usdc, realized_pnl_usdc, position_status, ROUND((entry_filled_shares - remaining_shares) * close_price::numeric, 6) AS approx_exit_revenue, ROUND((entry_filled_shares - remaining_shares) * close_price::numeric - entry_cost_usdc, 6) AS approx_pnl FROM trade_history WHERE position_status = 'CLOSED' AND mode = 'PAPER' AND (realized_pnl_usdc IS NULL OR realized_pnl_usdc = 0) AND close_price IS NOT NULL ORDER BY created_at DESC LIMIT 20;
