SELECT id, mode, position_status, close_price, entry_filled_shares, remaining_shares, entry_cost_usdc, realized_pnl_usdc, market_id FROM trade_history WHERE position_status = 'CLOSED' AND mode = 'PAPER' AND (realized_pnl_usdc IS NULL OR realized_pnl_usdc = 0) LIMIT 10;
