SELECT id, amount_usdc, executed_price FROM trade_history WHERE position_status = 'CLOSED' AND mode = 'PAPER' AND (realized_pnl_usdc IS NULL OR realized_pnl_usdc = 0) AND (entry_filled_shares IS NULL OR entry_filled_shares = 0) LIMIT 10;
