SELECT id, entry_filled_shares, entry_cost_usdc, close_price, realized_pnl_usdc, position_status FROM trade_history WHERE position_status = 'CLOSED' AND mode = 'PAPER' AND (realized_pnl_usdc IS NULL OR realized_pnl_usdc = 0);
