SELECT id, entry_filled_shares, entry_cost_usdc, exit_filled_shares, exit_revenue_usdc, realized_pnl_usdc, position_status FROM trade_history WHERE position_status = 'CLOSED' AND mode = 'PAPER' AND (realized_pnl_usdc IS NULL OR realized_pnl_usdc = 0);
