UPDATE trade_history SET position_status = 'OPEN' WHERE position_status = 'CLOSED' AND mode = 'PAPER' AND (realized_pnl_usdc IS NULL OR realized_pnl_usdc = 0) AND entry_filled_shares IS NOT NULL AND entry_filled_shares > 0;
